.Posts {
  margin-top: 1.7em;
}

.charityURL {
  margin-left: 90px;
  margin-bottom: 28px;
  a {
    font-size: 20px;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  p {
    font-size: 14px;
    max-width: 40em;
    margin-top: 4px;
    line-height: 1.58;
    text-align: justify;
    color: rgb(102, 102, 102);
  }
}